<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="uft-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

	  <title>Three Things</title>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	  <link rel="stylesheet" href = "css/bootstrap.css">
     
	  <link rel="stylesheet" href = "css/style2.css">

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    </head>
    <body>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    
        <h2>Three Things</h2>
        welcome {{username}} 
    <form method="post">
      <label>Plan 3 things for Tomorrow</label>
      <input type="text" name="tomorrow" value="">
      <br>
      <br>

      <label>What have you completed today? </label>
      <br>
      <input type="checkbox" name="items"><label>All done</label><br>
      <input type="checkbox" name="item0"><label>{{item0}}</label>
      <input type="checkbox" name="item1" value=True><label>{{item1}}</label>
      <input type="checkbox" name="item2" value=True><label>{{item2}}</label>
      <input type="submit" Value="Save">
      <br>
      <br>
      <!--
      <a href="recent">recent entries</a>
      -->
      <br>
      <br>

   		</div>
    </body>
</html>