<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="uft-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

	  <title>Three Things</title>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	  <link rel="stylesheet" href = "css/bootstrap.css">
     
	  <link rel="stylesheet" href = "css/style2.css">
    </head>
    <body>
   		<div class="container">

            <div class="row">
               <div class="col-md-12">
                  <h4 class="text-right">Signin with facebook</h4>
               
               </div>
            </div>

   			<div class="row">
               
               <div class="col-md-12 text-center">
                  <h1 class="title-super"><b>Three Things</b></h1>
               </div>
   				

   			</div>


   			<div class=" super-color">
   			

            <div class="row text-center text-light-grey">
               <div class="col-md-6">
                  <img class="img-responsive" src="http://placepuppy.it/580/200" alt="Bokeh puppy">
               </div>  
               <div class="col-md-6">
                  <p class="super-p">Know where the time has gone, when there is a shift, what you will do in future</p>
               </div>                                
            </div> 

   	

<div class="row">


  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Done!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Will do!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

</div><!-- /.row -->


   		    </div>
   		</div>
    </body>
</html>